

body{
    width: 0;
    padding: 0;
}
.promo{
    width: 1366px;
    height: 40px;
    background-color: rgba(130, 99, 0, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
    color: white;
    font-family:"Lexend", sans-serif;
}
.but:hover{
    cursor: pointer;
}
.navbar{
    width: 1366px;
    height: 100px;
    top: 26px;
    background-color: rgba(250, 237, 223, 1);
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.center{
    display: flex;
    flex-direction: row;
    gap: 40px;
}
.right
{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-right: 3rem;
}
.sous{
    width: 1366px;
    height: 590px;
    background-image:url(./assets/images/bg-image.png) ;
    position: relative;

}
.new{
    width: 163px;
    height: 45px;
    gap: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(130, 99, 0, 1);
}
.new:hover{
    cursor: pointer;
}
.cont{
    width: 566px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 112px;
    left: 417px;
}
.sect2{
    width: 1306px;
    height: 551px;
    margin-top: 5rem;
}
.vi{
width: 97px;
height: 30px;
border-radius: 10px;
background-color: rgba(217, 217, 217, 0);
border: solid 1px rgba(177, 177, 177, 1);
display: flex;
justify-content: center;
align-items: center;
justify-self: center;
}
.pr{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-self: center;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-bottom: 3rem;
}
.deu{
    width: 1306px;
    height: 424px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.im{
    width: 230px;
height: 350px;
border-radius: 5px;
object-fit: cover;
}
.prod{
    width: 230px;
    height: 424px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.fno{
    font-weight: 500;
    font-size: 16px; 
    color: rgba(0, 0, 0, 1) ;
}
.fon{
    font-weight: 300;
    font-size: 16px;
    color:rgba(0, 0, 0, 1)  ;
}